<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/1e1b118233.js" crossorigin="anonymous"></script>
    <title>AlgoMinds | NAVBAR</title>
    <link rel="stylesheet" href="/static/styles.css" />
    <link rel="stylesheet" href="/static/screener.css" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet" />
    <!-- Select2 CSS -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <!-- jQuery + Select2 JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    
  <nav class="navbar">
    <h3 class="logo"><a class="navbar-brand" href="#">ALGOMINDS</a></h3>
    <div class="collapse nav-list">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/"><i class="fas fa-home"></i> HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/dashboard"><i class="fas fa-clock"></i> DASHBOARDS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/chart"><i class="fas fa-layer-group"></i> CHARTS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/strategy"><i class="fas fa-pen"></i> STRATEGIES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/watch"><i class="fas fa-pen"></i> WATCHLIST</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/reports"><i class="fas fa-star"></i> REPORTS</a>
        </li>
      </ul>
    </div>
    <div class="button-container">
      <!-- <button class="btn"><a class="btn-signup" href="#">SIGN-UP</a></button> -->
      <button class="btn"><a class="btn-signup" href="#">LOGOUT</a></button>
    </div>
  </nav>

  <nav class="navbar-collapse">
    <h3 class="logo"><a class="navbar-brand" href="#">ALGOMINDS</a></h3>
    <!-- collapse bar side -->
    <div class="collapse-bar">
      <div class="collapse-icon">
        <i class="fas fa-bars"></i>
      </div>
      <div class="side-bar">
        <div class="uncollapse-icon">
          <i class="fas fa-xmark"></i>
        </div>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus
          necessitatibus sunt accusantium sapiente in ad labore vitae, dolor
          adipisci eveniet deserunt voluptatibus magni impedit quasi.
          Accusantium harum voluptatum repellendus laudantium!
        </p>
        <div class="uncollapse nav-list-bar">
          <ul class="navbar-nav-bar mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/hero/"><i class="fas fa-home"></i> HOME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/dashboard"><i class="fas fa-clock"></i> DASHBOARDS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/chart"><i class="fas fa-layer-group"></i> CHARTS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/strategy"><i class="fas fa-pen"></i> STRATEGIES</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/watch"><i class="fas fa-pen"></i> WATCHLIST</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/reports"><i class="fas fa-star"></i> REPORTS</a>
            </li>
          </ul>
        </div>
        <div class="button-container-bar">
          <button class="btn-bar">
            <a class="btn-signup" href="#">SIGN-UP</a>
          </button>
          <button class="btn-bar">
            <a class="btn-signup" href="#">LOGIN</a>
          </button>
        </div>
      </div>
    </div>
  </nav>
</body>
</html>